.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 20px;
}

.container-fluid {
  margin-right: 50px;
  margin-left: 50px;
}

#tsizing {
  width: 110%;
  margin-left: -60px;
}

body {
  background: silver;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

